<div class="off-canvas-wrap">
  <div class="inner-wrap" style="min-height: 100vh" ;>
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Profile</h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Menu</label></li>
        <li><a href="#/profile">profile</a></li>
        <li><a href="#/challenge">start Game</a></li>
        <li><a href="#/login">logout</a></li>
      </ul>
    </aside>
    <section class="main-section">
      <div class="small-12 columns" style="position:relative; margin-top:20px;">
        <h1>User: {{ data.user.name }}</h1>
      </div>
      <ul>
        <li>User 1</li>
        <li>User 2</li>
        <li>User 3</li>
      </ul>
    </section>
  </div>
</div>
