<h2 style="text-align: center; padding-top: 1rem;">Welcome to Wuzzler App!</h2>

<div class="container-fluid">
  <div class="wrapper">
    <p class="wrapperHeading">Upcoming Games:<br /></p>
    <p class="wrapperSubHeading">(Tap to Cancel)<br /></p>
    <ul class="list">
      <li class="upcomingGames">User 1</li>
      <li class="upcomingGames">User 3</li>
      <li class="upcomingGames">User 4</li>
    </ul>
  </div>
  <div class="wrapper">
    <p class="wrapperHeading">Available Users:<br /></p>
    <p class="wrapperSubHeading">(Tap to Challenge)<br /></p>
    <ul class="list">
      <li>User 1</li>
      <li>User 2</li>
      <li>User 3</li>
      <li>User 4</li>
      <li>User 5</li>
    </ul>
  </div>
  <div class="wrapper">
    <p class="wrapperHeading">Challenged Users:<br /></p>
    <p class="wrapperSubHeading">(Tap to Cancel)</p>

    <ul class="list">
      <li class="challenge">User 2</li>
      <li class="challenge">User 5</li>
    </ul>
  </div>
</div>
